<h1>This is the secret page</h1>
<img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210420155809/gfg-new-logo.png" alt="Logo">
<ul>
    <li><a href="/register">Sign up!!</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
